#main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}
  
#login-container {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(58, 176, 139);
    align-content: center;
    align-self: center;
}

#signup-button {
    align-self: center;
}

#login-button {
    align-self: center;
}

.entry-field {
    border-radius: 6px;
    margin: 14px;
}

.alert-text {
    color: darkred;
}

#signup-container {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(58, 176, 139);
    align-content: center;
    align-self: center;
}

#second-signup-button {
    align-self: center;
}

#header-menu-container {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(67, 175, 141);
}

#username-button {
    background: none;
    border: none;
    color: aqua;
}

.regular-button {
    border-radius: 6px;
    background-color: rgb(164, 164, 164);
    color:black;
}

#my-activities-button {
    width: auto;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
}

#create-activity-button {
    width: auto;
    align-self: center;
    margin-right: 20px;
}
